body {
    font-family: Arial, Helvetica, sans-serif/1.5/15px;
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
}

img {
    width: 200px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #ffffff;
    min-height: 70px;
    padding-top: 70px;
    border-bottom: #e8491d 3px solid;
}

.button_1 {
    height: 30px;
    background: #e8491d;
    padding: 0 20px 0 20px;
    color: white;
}

.dark {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background: #35424a;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

nav {
    float: right;
}

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}

/* header*/
a:hover {
    color: #cccccc;
    font-weight: bold;
}

#showcase {
    min-height: 400px;
    background: url(../image/laptop.png) no-repeat;
    color: white;
    text-align: center;
    background-position: center top;
    background-size: cover;

}

#showcase h1 {
    margin: 100px 0 10px 0;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

#newsletter {
    padding: 15px;
    color: white;
    background: #35424a;
}

#newsletter h1 {
    float: left;

}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 3px;
    height: 25px;
    width: 350px;
}

/*boxes*/

/*#boxes*/
.box {
    margin-top: 20px;
}

/*#boxes*/
.box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

/*#boxes*/
.box img {
    width: 90px;
}

aside#sidebar {
    width: 30%;
    float: left;
    margin-top: 10px;
    padding-left: 30px;

}

#sidebar .quote input,
#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

#main-col {
    float: left;
    width: 65%;
}

#main-col .dark {
    margin-top: 30px;
}

#service li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    text-transform: uppercase;
}

/*media quaries*/
@media(max-width: 768px) {

    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #boxes .box,
    #newletter form,
    #sidebar,
    #main-col {
        float: none;
        text-align: center;
        width: 100%;
        margin-right: 30px;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1 {
        margin-top: 40px;
    }

    #newsletter .button_1,
    .quote .button_1 {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"] {
        width: 100%;
        margin-bottom: 5p;
    }
}